/* Base font size */
html {
    font-size: 16px;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

/* Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}
