@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 font-family: "Almarai-Regular";
 src: url("fonts/Almarai-Regular.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Almarai-Bold";
 src: url("fonts/Almarai-Bold.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Almarai-ExtraBold";
 src: url("fonts/Almarai-ExtraBold.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Almarai-Light";
 src: url("fonts/Almarai-Light.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}

@font-face {
 font-family: "Cairo-Regular";
 src: url("fonts/Cairo-Regular.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Cairo-Bold";
 src: url("fonts/Cairo-Bold.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Cairo-ExtraBold";
 src: url("fonts/Cairo-ExtraBold.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}
@font-face {
 font-family: "Cairo-Light";
 src: url("fonts/Cairo-Light.ttf") format("truetype");
 font-weight: bold; /* Adjust based on the actual font weight */
 font-style: normal;
}

body {
 font-family: "Almarai-Regular";
 direction: rtl;
}

.triangle {
 position: absolute;
 bottom: -30px;
 right: -20px;
 width: 0;
 height: 0;
 border-left: 350px solid transparent;
 /* border-right: 100px solid transparent; */
 border-bottom: 200px solid red;
 border-bottom-left-radius: 20px; /* Adjust this for rounding */
 border-bottom-right-radius: 20px; /* Adjust this for rounding */
 border-radius: 20px;
}

.triangle:before {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 border-left: blue;
 transform: translate(-5%, 20%);
 background: red;
}

/* .triangle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: red;
} */

body{
    direction: rtl;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
